@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --bs-body-font-family: 'Inter', sans-serif;
}

.card-section-label {
    font-size: 1rem;
    text-transform:uppercase;
}

.card {
    border: none;
}

.card-img, .card-img-top {
    border-radius: 0.5rem;
}

.card-body {
    padding-left: 0;
    padding-right: 0;
}

.company-logos {
    height: 6rem;
}