@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --bs-body-font-family: 'Inter', sans-serif;
}

.card-section-label {
    font-size: 1rem;
    text-transform:uppercase;
    margin-bottom: 0;
}

.project-card {
    border: none;
}

.card-img, .card-img-top {
    border-radius: 0.5rem;
}

.project-card-body {
    padding-left: 0;
    padding-right: 0;
}

.company-logos {
    position: relative; 
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

#introduction {
    background-color: #FFEDCB;
}

#companies-contributed-to {
    background-color: #FFEDCB;
}

.card {
    border: none;
    border-radius: 1rem;
}

.badge {
    color: #363635;
    font-size: 14px;
    font-weight: 400;
    background-color: #EEF5FF;
    border-radius: 2rem;
    margin-bottom: 8px;
}

.task-badge {
    padding-bottom: 8px;
}

/* .footer {
    background-color: #f9f9f9;
    padding: 2.5rem 3rem;
    color: #999;
    margin: 0 ;
} */

.contact-icon {
    color: #39995A !important;
    height: 40px;
    width: 40px;
    text-decoration: none;
}

.project-year-label {
    font-size: 16px;
    margin: 0 0 12px 0;
    color: #6e6e6e;
}

@media screen and (min-width: 320px), screen and (max-width: 320px) {
    .introduction-panel {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        padding: 4vw;
    }
    
    .top-message {
        font-size: 18px;
    }

    .card {
        margin-top: 1rem;
    }

    #companies-contributed-to {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 425px) {
    #introduction > .row {
        max-width: 513px;
    }
    
    .top-message {
        font-size: 20px;
    }

    #companies-contributed-to {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 768px) {
    #introduction > .row {
        max-width: 700px;
    }
    
    .top-message {
        font-size: 20px;
    }

    .introduction-panel {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        padding: 2vw;
        grid-template-areas: 
        "first first first first first first"
        "second second second second second second";
    }

    .design-block {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: first;
    }

    .about-block {
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row: first;
        display: grid;
    }

    .art-block {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row: second;
    }

    .coding-block {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row: second;
    }

    .community-block {
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row: second;
    }
}

@media screen and (min-width: 1200px) {
    #introduction > .row {
        max-width: 1116px;
    }
    
    .top-message {
        font-size: 24px;
    }
}

@media screen and (min-width: 1440px) {
    #introduction > .row {
        max-width: 1024px;
    }
}

.introduction-panel {
    display: grid;
    background-color: #fff;
    filter: drop-shadow(0px 2px 9px rgba(0, 0, 0, 0.15));;
    border-radius: 16px;
    gap: 24px 24px;
}

.introduction-panel-card {
    padding: 24px;
    border-radius: 16px;
}

.introduction-panel > .introduction-panel-card > .top-row-card-image-section > img,
.introduction-panel > .introduction-panel-card > .bottom-row-card-image-section > img {
    width: 100%;
}

.introduction-panel > a {
    text-decoration: none;
    color: #343434;
;
}

.introduction-panel > a:hover {
    transition: 0.5s;
    -webkit-box-shadow: 0px 6px 19px 2px rgba(214,214,214,0.76);
    -moz-box-shadow: 0px 6px 19px 2px rgba(214,214,214,0.76);
    box-shadow: 0px 6px 19px 2px rgba(214,214,214,0.76);
;
}

.design-block {
    background-color: #D7FBEB;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.about-block {
    background-color:#C8DEFE;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}

.art-block {
    background-color: #E1DAFF;
}

.coding-block {
    background-color: #FFEDCB;
}

.community-block {
    background-color: #FFD1DF;
}